# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ----------------------
# Virtual env
# ----------------------
.venv/
venv/
env/

# ----------------------
# Flask
# ----------------------
instance/
*.db
*.sqlite3
*.sqlite

# ----------------------
# Environment
# ----------------------
.env
.env.*

# ----------------------
# Logs & temp
# ----------------------
*.log
*.tmp
*.pid
tmp/
temp/

# ----------------------
# gRPC
# ----------------------
# *_pb2.py
# *_pb2_grpc.py

# ----------------------
# Editors
# ----------------------
.vscode/
.idea/

# ----------------------
# OS
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Build / cache
# ----------------------
build/
dist/
*.egg-info/

# ----------------------
# Testing
# ----------------------
.coverage
htmlcov/
.pytest_cache/

# ----------------------
# Celery / Worker
# ----------------------
celerybeat-schedule
celerybeat.pid

# ----------------------
# Docker
# ----------------------
*.tar
docker-compose.override.yml

/ftp_dir
ftp_dir